.name {
  color: var(--red-primary);
  font-size: 72px;
}

.labels {
  color: var(--ifm-color-primary);
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}

.intro {
  color: var(--ifm-color-primary-lightest)
}